.button-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne si nécessaire */
    justify-content: center;
    margin-top: 20px;
}

.audio-button {
    padding: 10px 20px;
    margin: 10px; /* Augmente le margin pour espacer les boutons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 auto; /* Permet aux boutons de s'adapter à la taille disponible */
}

.audio-button:hover {
    background-color: #45a049;
}

/* Media queries pour les appareils mobiles */
@media (max-width: 600px) {
    .audio-button {
        padding: 8px 16px; /* Réduit le padding pour les petits écrans */
        font-size: 14px; /* Réduit la taille de la police */
    }
}