@font-face {
    font-family: 'Code-Pro-Demo'; 
    src:  url('code-pro-demo.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hidden {
    display: none;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center;
    margin-top: 20px;
}

.audio-button {
    position: relative;
    font-size: 1.5rem; 
    font-family: 'Code-Pro-Demo', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    width: 100%; 
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.audio-button:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

.audio-button.clicked {
    transform: scale(0.55); 
}


.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espace au-dessus de la bannière */
    position: relative;
}

.banner-logo {
    max-width: 100%;
    height: auto;
}

.volume {
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .volume input[type=range] {
    display: none;
  }
  
  .icon-size {
    color: #000;
    font-size: 48px;
  }
  
  .bar-hoverbox {
    padding: 10px 15px;
    opacity: 0.7;
    transition: opacity .2s;
    
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  
  .bar {
    background: #999;
    height: 7px;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;
    
    .bar-fill {
      background: #000;
      width: 0%;
      height: 100%;
      background-clip: border-box;
      pointer-events: none;
    }
  }


/* Media queries pour les appareils mobiles */
@media (max-width: 780px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr); /* Passe à 2 colonnes sur les petits écrans */
    }
    
    .audio-button {
        padding: 8px 16px; /* Réduit le padding pour les petits écrans */
        font-size: 200%; /* Taille de police constante */
        line-height: 100%;
        aspect-ratio: 2 / 1; /* Assure que la hauteur est égale à la largeur */
    }
}
